#app {
  font-family: 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.scrub-link {
  text-decoration: none;
}

.s-page-title {
  font-size: 6rem;
  font-weight: 300;
  line-height: 6rem;
  letter-spacing: -0.01562em;
  margin-bottom: 10px;
}
